#body-image-block {
    width: 200px;
    height: 300px;
    margin: auto;      /*центрируем блок*/
    position: relative /*сделал контейнер относительно позиционированным, что превратит его в контейнер для абсолютно позиционированных элементов*/
}

#body-image-block-first-image {
    display: block;
    object-fit: cover;                  /*подстраиваем изображение*/
    height: auto;
    max-width: 100%;
    position: absolute;                 /*делаем элемент абсолютно позиционированным для вертикального выравнивания*/
    top: 50%;                           /*поместил элемент посередине контейнера - 50% высоты контейнера*/
    left: 50%;                          /*центрируем изображение внутри блока*/
    margin-right: -50%;                 /*необходимо для компенсации left: 50%*/
    transform: translate(-50%, -50%);   /*переместить элемент вверх на половину своей собственной высоты*/
}